{% extends 'base.html' %}

{% block title %} about {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<div class="row py-lg-5 bg-light">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"> <div class="col-md-3">
                    <img class="rounded-circle w-100" src="/static/img/me2.png" alt="me2">
                </div> </h1>
        <p class="lead text-dark">I am an engineering student and I'm very enthusiastic about all things tech.
        I was always very fond of the web and internet stuff so now I'm into building it. I am a freelancer and
            you can hire me for web development and SEO.
            Meanwhile, hope you feel at ease and enjoy the content in this blog. 🙏</p>


           <p class="lead text-dark"> If you have any doubt or suggestion you can contact me through the
            <a href="/contact" class="link">contact</a> section. Suggestions are highly appreciated and I'll try
            hard to reply to every single message posted here.
        </p>
      </div>
</div>

{% endblock body %}